/* Thiết lập chung cho trang */
body {
  font-family: Arial, sans-serif;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Đường viền của bảng */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Đường viền cho bảng, tiêu đề và ô dữ liệu */
table,
th,
td {
  border: 1px solid black;
}

/* Chiều cao hàng tiêu đề */
th {
  height: 50px;
}

/* Căn trái tiêu đề */
th {
  text-align: left;
}

/* Căn dọc nội dung */
td {
  height: 80px;
  vertical-align: bottom;
}

/* Khoảng cách bên trong ô */
th,
td {
  padding: 15px;
}

/* Màu tiêu đề */
th {
  background-color: #333;
  color: white;
}

/* Màu dữ liệu */
td {
  background-color: #f2f2f2;
  color: #333;
}
