/* Thiết lập chung cho trang */
body {
  background-color: #eaf4f4;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 30px;
}

/* Tiêu đề */
h1 {
  color: #333;
}

/* Đoạn văn */
p {
  color: #555;
  font-size: 18px;
}

/* Khối nội dung */
.content {
  background-image: url("images.jpg");

  background-size: cover;
  background-position: center;

  width: 70%;
  min-height: 300px;

  margin: 30px auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;

  border-radius: 10px;
}
